body{
  font-family: arial;
}
.todo-grid,
.todo-input-grid{
  display: grid;
  grid-template-columns: 200px 150px 150px 150px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  border-color: black;
}
.todo-input-grid{
  margin-bottom: 10px;
  align-items: stretch;
}
.date-input,
.name-input{
  font-size: 15px;
  padding: 6px;
}
.add-button{
  background-color: rgb(41, 97, 227);
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  
}
.delete-button{
  background-color:rgb(243, 54, 86);
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}
